<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pear Programming</title>

  <link href="/assets/css/style.css" rel="stylesheet">
  <!-- import bootstrap and flatui -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="/assets/css/flat-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
</head>

<body>

  {{!-- ---------------------------------------------------------------- --}}

  <!-- Just an image -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <img src="/assets/img/pear-outline-filled.png" width="90" />
    <a class="navbar-brand" href="/">Pear Programming</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="nav-item nav-link" href="/resources"><strong>Resources</strong></a>

        {{#if user}}

          <a class="nav-item nav-link" href="/dashboard"><strong>Dashboard</strong></a>
          <a class="nav-item nav-link" href="/profile/{{user.username}}"><strong>{{user.username}}</strong></a>
          <a class="nav-item nav-link" href="/logout"><strong>Logout</strong></a>

        {{else}}

          <a class="nav-item nav-link" href="/login"><strong>Login</strong></a>
          <a class="nav-item nav-link" href="/register"><strong>Register</strong></a>

        {{/if}}

      </div>
    </div>
  </nav>

  {{!-- ---------------------------------------------------------------- --}}

  {{{ body }}}

  {{!-- ---------------------------------------------------------------- --}}

  <footer class="footer-color navbar-light sticky-bottom">
    <div class="container">
      <div class="row">
        <div class="col xl7 l7 s12">
          <br>
          <h4><a href="https://github.com/charlimxm/project-4"><img src="/assets/img/pear-outline-filled.png" width="70"> Pear Programming</a></h4><br>
          <h7 class="grey-text text-lighten-4">By
            <a href="https://github.com/sillyadventures">Shui,  </a>
            <a href="https://github.com/charlimxm">Charmaine,  </a>
            <a href="https://github.com/noobnur">Hidayah,  </a>
            <a href="https://github.com/subutai1175">William  </a>
          </h7>
          <br>
          <br>
        </div>
        {{!-- <div class="justify-content-end">
          <br>
          <h5 class="white-text">Links</h5><br>
          <ul class="nav">
            <li><a class="white-text text-lighten-3" href="/resources">Resource</a></li><br>
          </ul>
        </div> --}}
      </div>
      <p class="d-flex justify-content-center">© 2017 Can-Do-One Pte Ltd. All rights reserved. Use of this site constitutes acceptance of our Terms of Use and Privacy Policy</p>
    </div>
  </footer>

  {{!-- ---------------------------------------------------------------- --}}

  <script>
    UPLOADCARE_PUBLIC_KEY = "f2d9934e84f8b4f58c92"
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://ucarecdn.com/libs/widget/3.1.4/uploadcare.full.min.js" charset="utf-8"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/assets/js/flat-ui.js"></script>
  <script src="/assets/js/flat-ui.min.js"></script>
  {{!-- <script src="https://code.jquery.com/jquery-1.11.1.js"></script> --}}
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/js/frontend.js"></script>
</body>

</html>
