<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pear Programming</title>

  <link href="/assets/css/style.css" rel="stylesheet">
  <!-- import bootstrap and flatui -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="/assets/css/flat-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
</head>

<body>

  {{!-- ---------------------------------------------------------------- --}}

  <!-- Just an image -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><img src="/assets/img/pear-outline-filled.png" width="40" height="40" class="d-inline-block align-center" />Pear</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        {{#if user}}
          <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
          <a class="nav-item nav-link" href="/chat">Chat</a>
          <a class="nav-item nav-link" href="/profile/{{user.username}}">{{user.username}}</a>
          <a class="nav-item nav-link" href="/logout">Logout</a>

        {{else}}

          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/register">Register</a>

        {{/if}}

        <a class="nav-item nav-link" href="/resources">Resources</a>

      </div>
    </div>
  </nav>



  {{{ body }}}



  <footer class="footer-color navbar-dark fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col xl7 l7 s12">
          <h4 class="white-text">Pear Programming</h4>
          <p class="grey-text text-lighten-4">By Shui, Charmaine, Hidayah, William</p>
        </div>
        <div class="justify-content-end">
          <h4 class="white-text">Links</h4>
          <ul class="nav">
            <li><img src="/assets/img/github-logo.svg" width="50px"><a class="grey-text text-lighten-3" href="https://github.com/charlimxm/project-4">Github</a></li>
          </ul>
        </div>
      </div>
    </div>

  </footer>

  {{!-- ---------------------------------------------------------------- --}}

  <script>
    UPLOADCARE_PUBLIC_KEY = "f2d9934e84f8b4f58c92"
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://ucarecdn.com/libs/widget/3.1.4/uploadcare.full.min.js" charset="utf-8"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/assets/js/flat-ui.js"></script>
  <script src="/assets/js/flat-ui.min.js"></script>
  {{!-- <script src="https://code.jquery.com/jquery-1.11.1.js"></script> --}}
  {{!-- <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script> --}}
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/js/frontend.js"></script>
</body>

</html>