<body ng-controller="mainController">
    <ul id="messages"></ul>
    <div id="chat">
      <input id="m" ng-model="message" autocomplete="off" />
      <button ng-click="send()">Send</button>
    </div>
  </body>
