<ul class="pages container">
  <p class="chat page">
    <div class="chatArea">
      <ul id="message">
        {{#each chat as |chat|}}
          <li>{{chat.user}}: {{chat.comment}}</li>
        {{/each}}
      </ul>
    </div>
    <form id="chat" action="">
      <input type="hidden" id="userName" value="{{user.username}}">
      <input type="hidden" id="userPairId" value="{{pairId}}">
      <input id="m" autocomplete="off" /><button>Enter</button>
    </form>
  </p>
</ul>
