
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">ETC ETC</h1>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="/assets/img/banner_home.png"></div>
</div>
