<div class="icon-profile">
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <div class="card ">
          <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
          <div class="avatar">
            <img src="/assets/img/dayah.jpg" alt="" />
          </div>
          <div class="content">
            <p>{{user.acceptedPearing}}<br> More description here</p>
            <button type="button" class="btn btn-default">Pending</button>
            <button type="button" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </div>
      <input id="pendingInput" type="text">
      <h3>Search Results</h3>
      <div class="pendingResult">

      </div>

      {{!-- <div class="col-sm-3">
              <div class="card ">
                  <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                  <div class="avatar">
                      <img src="/assets/img/dayah.jpg" alt="" />
                  </div>
                  <div class="content">
                      <p>Web Developer <br>
                         More description here</p>
                      <button type="button" class="btn btn-default">Chat!</button>
                      <button type="button" class="btn btn-default">Cancel</button>
                  </div>
              </div> --}}



      {{!-- <div class="col-3">
    <div class="card" style="margin: 20px">
      <div class="card-body">
        <h4 class="card-title">TEST 1</h4>
        <p class="card-text"> TESTTEST</p>
        <a href="/" class="gig-link">See more!</a>
      </div>
      <div class="card-footer text-muted">
    Pending
  </div>
  <div class="card-footer">
    Cancel
  </div>
    </div>
    </div>

    <div class="col-3">
    <div class="card" style="margin: 20px">
      <div class="card-body">
        <h4 class="card-title">TEST 2</h4>
        <p class="card-text"> TESTTEST</p>
        <a href="/" class="gig-link">See more!</a>
      </div>
    </div>
    </div>

    <div class="col-3">
    <div class="card" style="margin: 20px">
      <div class="card-body">
        <h4 class="card-title">TEST 3</h4>
        <p class="card-text"> TESTTEST</p>
        <a href="/" class="gig-link">See more!</a>
      </div>
    </div>
    </div>


    <div class="col-3">
    <div class="card" style="margin: 20px">
      <div class="card-body">
        <h4 class="card-title">TEST 4</h4>
        <p class="card-text"> TESTTEST</p>
        <a href="/" class="gig-link">See more!</a>
      </div>
    </div>
    </div> --}}


    </div>
  </div>
</div>