<div class="container">
  <form class="col s12 m6" action="/search" method="post">
    <label for="searchLanguage">Search Language: </label>
    <select name="searchLanguage">
      <option value="" disabled selected>Please select</option>
      {{#each user.languages}}
        <option value="{{lang}}">{{lang}}</option>
      {{/each}}
     </select>

    <button class="btn waves-effect waves-light" id="userSearch" type="submit" name="action">Submit
      <i class="material-icons right"></i>
    </button>
  </form>

  <div class="userResult">

  </div>
</div>
